
.form-control{
    width: 300px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\Nav bar\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
.btnlog{
    border: none;
    background-color: #dc3545;
}

.btnlog:hover{
    background-color: red;
    color: white;
}

.btnlog:active{
    background-color: black;
}

.container-fluid{
   position: sticky;
   top: 0;
   z-index: 1;
}
.navbar{
    background-color: #dc3545;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* ///////////////////////// */
/* #box1{

} */

#box1{
    border: 1px solid black;
    width: 260px;
    height: 450px;
    display: grid;
    justify-content: space-between;
}

#box1>h3,#form{
    position: relative;
    margin: 4% 0 20% 20%;
}
#main{
    display: flex;
}

/* /////////////////////////box2//////////////// */
#box2{
  
    width:70%;
    margin-left:5%;
    margin: 20px auto;
}

#box2 button{
    margin: 5% 40%;
    padding: 5px 40px;
}

#table-data{
    width: 100%;
    /* border-collapse: collapse; */
    margin-left: 20px;
}


#table-data th,#table-data td{
    border: 1px solid black;
    padding: 8px;
}

#box1 button{
    margin:10% auto 0% 30%;
    padding: 0% 10%;
}

/* //////button delete//// */

#tbody button{
    margin-left:0px;
    padding: 5% 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5%;
}

#tbody button:hover{
    background-color: rgb(233, 102, 102);
    padding:10% 10px
}

#tbody button:active{
    background-color: rgb(100, 32, 32);
}