.closest {
  color: grey;
  display: flex;
  text-decoration: none;
  display: flex;

  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.closest > a {
  text-decoration: none;
  color: grey;
  margin-top: 10px;
  text-align: center;
  /* margin-left: 20px; */
}
.closest > a:first-child {
  margin-left: 150px;
}
#msg {
  text-align: center;
}

.parent {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  width: 90%;
  margin-left: 80px;

  margin-top: 20px;
}
.up {
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  display: flex;
  margin-bottom: 10px;
}
.up > div {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
}
.up > div:hover {
  font-size: 20px;
  cursor: pointer;
}
/* .up > div:first-child {
  border: none;
} */
#a {
  text-decoration: none;
  color: black;
}
/*  */
.child {
  display: flex;
}
.left {
  margin-top: 10px;
  width: 60%;
  margin-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* background-color: rgb(255, 255, 255); */
}
.left > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  row-gap: 10px;
}
.left > div > div {
  /* border: 1px solid red; */
  height: 520px;

  padding: 10px;
  text-align: center;
  cursor: pointer;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.left > div > div > button {
  /* border: 1px solid black; */
  /* margin-left: 20px;
  margin-right: 10px; */
  margin: 0px 10px 0px 10px;
  color: white;
  background-color: red;
  padding: 3px 5px 3px 5px;
  border: none;
}

.left > div > div > button:hover {
  cursor: pointer;
}
.left > div > div > img {
  width: 100%;
}
.right {
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  /* width: 40%; */
  /* height: 380px; */
  flex-direction: column;
  padding: 20px;
  margin-left: 40px;
  /* position: sticky; */
  top: 90px;
  /* z-index: -50; */
  margin-right: 20px;
}
.child {
  display: flex;
}
.right > div:first-child {
  /* border: 1px solid black; */
  /* height: 60px; */
  display: flex;

  text-align: center;
  background-color: #e0e0e0;
}

.right p {
  margin-left: 30px;
  margin-top: 0px;
}
/* .right span {
  margin-left: 200px;
} */
#cart-total2 {
  margin-left: 120px;
}
#cart-total {
  margin-left: 150px;
}
#total {
  margin-left: 30px;
}
#book {
  margin-top: 30px;
  margin-right: 70px;
  margin-left: 70px;
  padding: 20px 40px 20px 40px;
  background-color: red;
  color: white;
  border: none;
}

@media only screen and (max-width: 700px) {
  /* Small Screen  */
  .closest {
    flex-direction: column;
  }
  .up {
    flex-direction: column;
  }
  .child {
    flex-direction: column;
  }
  .right > div:nth-child(2) {
    flex-direction: column;
  }
}
